<!DOCTYPE html>
<html>
    <head>
       <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% block head %}
            <link rel="stylesheet" href="style.css" />
            <title>{% block title %}{% endblock %}</title>
        {% endblock %}
        <style>
            .error {
                color: red;
            }
        </style>
    </head>
    <body>
        <div id="nav">
            <a href="/">Home</a>
            <a href="/index/test">Test</a>
            <a href="/users/index">All users</a>
            <a href="/cars/index">All Cars</a>
            <a href="/cars/add">Add a car</a>            
        </div>
        <div id="content">
            {% if flashMessage %}
                <p class="error">{{ flashMessage }}</p>
            {% endif %}
            {% block content %}{% endblock %}
        </div>
        <div id="footer">
            {% block footer %}
                &copy; Copyright {{ year }} by <a href="https://github.com/gregornovak">Gregor</a>.
            {% endblock %}
        </div>
    </body>
</html>